<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
    	<title>Chat</title>
    	<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
   		<div id="login-container">
			<h5 >Miodrag Filipović</h5> 
			<br>
			<h1 style="font-family: sans-serif" class="title">Unesite vaše ime</h1>
			<form id="loginForm" name="loginForm" method="POST">
				<input type="text" name="username" />
				<br><br>
				<button type="submit">Uključi se</button>
			</form>
		</div>
	</body>
</html>